*{
		margin: 0;
		padding: 0;
	 }
.wrap {
    width: 1200px;
    height: 1100px;
    margin: 0px auto;
    background: #6798E6;
   }
.left_top{
    width:100%;
    height: 100.4px;
    background:#00aef0;
  
}
.right{
	float:right;
}
a {
		text-decoration: none;
		color:#FFFFFF;
}

.main{
	width:48%;
	height: 620px;
	background:#9DCFFF;
	float : left;
	margin : 10px 0px 10px 612px;
}
.seoul{
	width:270px;
	height:130px;
	margin : 13px 5px;
	float: left;
}
.Busan{
	width:270px;
	height:130px;
	float : right;
	margin : 13px 5px;
}
 .incheon{
	width:270px;
	height:130px;
	margin : 13px 5px;
	float: left;
}
.Jeju{
	width:270px;
	height:130px;
	float : right;
	margin : 13px 5px;
}
.Gyeongju{
	width:270px;
	height:130px;
	margin : 13px 5px;
	float: left;
}
.Daegu{
	width:270px;
	height:130px;
	float : right;
	margin : 13px 5px;
}
.Daejeon{
	width:270px;
	height:130px;
	margin : 13px 5px;
	float: left;
}
.Yeosu{
	width:270px;
	height:130px;
	float : right;
	margin : 13px 5px;
}
.search{
	width:35%;
	height: 500px;
	background: #2c4162;
	float : right;
	margin : 10px;
}
.lating{
	width:48%;
	height:620px;
	background:#9DCFFF;
	float:left;
	margin:-630px 30px 10px 10px;
}
.footer{
	width:100%;
	height:300px;
	background:#2c4162;
	float:left;
}
.sub1{
	float:left;
	width:25%;
	heigth:80px;
	background:#2c4162;
	margin:30px 50px ;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fff;
}
.sub2{
	float:left;
	width:25%;
	heigth:80px;
	background:#2c4162;
	margin:30px 50px ;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fff;
	
}
.sub3{
	float:left;
	width:25%;
	heigth:80px;
	background:#2c4162;
	margin:30px 50px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fff;
}
.footer2{
	width:100%;
	height:150px;
	background:#2c4162;
	float:left;
}
.sns{
    float:left;
	width:25%;
	heigth:80px;
	background:#2c4162;
	margin:10px 11px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fff;
}
.mobile{
	float:left;
	width:25%;
	heigth:80px;
	background:#2c4162;
	margin:10px 11px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fff;
}
.copyright{
	color:#FFFFFF;
	font-size:15px;
	float:left;
	margin: 10px 530px 10px 10px;
}
.right_copyrigth{
	color:#FFFFFF;
	font-size:15px;
	float:right;
	margin: 10px 10px 10px 10px;
	
}